
.contenedor-home{
    background-image: url(./imagenPrincipal.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 1600px;
    height: 1000px;
    margin-top: 30px;
    margin-left: 30px;
    

}
.bienvenidos{
    color: blue;
    margin-top: 10px;
    padding-top: 5%;
    padding-left: 55%;
}
.parrafo1{
    color: black;
    margin-top: 10px;
    text-align: center;
    padding-top: 5%;
    padding-left: 20%;
    font-size: 30px;

}
.parrafo2{
    color: black;
    margin-top: 10px;
    text-align: center;
    padding-top: 0%;
    padding-left: 20%;
    font-size: 30px;

}
.parrafo3{
    color: black;
    margin-top: 10px;
    text-align: center;
    padding-top: 0%;
    padding-left: 20%;
    font-size: 30px;

}


nav{
    font-size: 50px;
    color: black;
    margin-top: 10px;
    text-align: center;
    padding-top: 0%;
    padding-left: 20%;
    
}
@media screen  and (max-width:480px){
    .contenedor-home{
       width: auto;

    }
    .bienvenidos{
        padding-top: 30px;
        font-size: 15px;
       padding-left: 180px;
    }
    .parrafo1{
        width: auto;
        font-size: 20px;
        padding-top: 220px;
        padding-left: 1%;

    }
    .parrafo2{
        width: auto;
        font-size: 20px;
        padding-top: 0;
        padding-left: 0;

    }
    .parrafo3{
        width: auto;
        font-size: 20px;
        padding-top: 0;
        padding-left: 0;

    }
    .nav{
      
        font-size: 20px;
        padding-top: 0;
        margin-left: 10px;


    }
}